.nbar {
  	min-height: 68px;
	padding-top: 10px;
	color: white;
	font-size: 15px;
    font-weight: bold;
}
.lspace {
    padding-left: 50px;
    padding-right: 30px;
}
.lspace:hover{
	color: yellow !important;
}

.ispace {
    padding-right: 8px;
    font-size: 10px;
}
.space {
    padding-left: 10px;
    padding-right: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: white;
}
.main {
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 100px;
}
.mytop{
	
    top: 0;
    border-width: 0 0 1px important;
    position: fixed;
    right: 0;
    left: 0;
   z-index: 1030;

}

.paginationr {
  display: inline-block;
}

.paginationr a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.paginationr a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
    


.paginationr a:hover:not(.active) {


  background-color: red;
/*  color: white;*/
    text-decoration: none;

}

.paginationr a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.paginationr a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nbar a {
    color:white;
    text-decoration: none;
}

.nbar a:hover 
{
    
    color: grey;
     text-decoration:none; 
     cursor:pointer;  
}
.changeFont
    {
       font-family: "Courier New", Courier, monospace !important;
    }

.developper {
    margin: 80px 150px 200px 150px;
    background: #d2dfd9;
    height: auto;
}
.rowbts{
  margin-right: -25px;
  
  margin-left: -25px;
}
.image-box {
    height: 150px;
    text-align: center;
    margin: 25px 100px 5px;
    padding: 3px;
    border: 2px solid grey;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.credit-header {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 10px;
}
.titlebts {
    text-align: center;
    padding: 8px;
    padding-top: 0;
    color: grey;
}
.home-img {
    max-height: 60px;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 8px;
}
.lgout{
  margin-left: 10vw;
}

.space
{
    /*margin-left:10px;*/
    margin-left: 1vw;
    margin-top: 7px;
  
}
.btnn
{
  width: 127px;

}
.khato
{
  height: 10px;
  margin-top:1px;
  margin-bottom: 1px;
}
table {
 /*table-layout:fixed;*/
}
.btnn2 {
    width: 80px;
}
.blue{

  color: blue;
    text-decoration: none;
}
.rb{
  border:solid 2px black;
}
.marg{
  display: inline-block;

}
.autto
{
  margin: 0 auto;
}
.upore{
  padding-top:30px;
}

.paginationr > a
{
    background-color: white;
    color: #5A4181;
}

